.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.banner-image {
    height: 400px;
    object-fit: cover;
    object-position:center;
}
.bg-custom {
    background-color: #a9193b !important;
}
.btn-custom {
    background-color: #a9193b;
    border-color: #a9193b;
}

.btn-custom:hover {
    background-color: #a9193b;
    border-color: #a9193b;
}
.btn-secondary-custom {
    background-color: #00798a;
    border-color: #00798a;
    color: white;
}

.btn-secondary-custom:hover {
    background-color: #006670;
    border-color: #006670;
    color: white;
}
.btn-cancel {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-cancel:hover {
    background-color: #c82333;
    border-color: #c82333;
    color: white;
}
.text-site-color {
    color: #00798a;
}
.nav-link-custom {
    color: #00798a;
}

.nav-link-custom.active {
    color: #a9193b;
}

.img-profile{
    height:200px;
}