<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/tailwind.css') }}">
    {# <link rel="icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon"> #}
</head>
<body class="bg-gray-100 text-gray-900">

<!-- Navigation -->
<nav class="bg-blue-600 p-4 mb-4 shadow-lg">
    <a href="{{ path('app_index') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
        Home
    </a>
    <a href="{{ path('user_login') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
        Login
    </a>
    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
        Profile
    </a>
    <a href="#" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">
        Meetups
    </a>
</nav>


<!-- Content -->
<main class="container mx-auto px-4">
    {% block body %}{% endblock %}
</main>

</body>
</html>

