{% extends 'base.html.twig' %}

{% block title %} City {% endblock %}

{% block body %}

    <h1 class="display-4 text-dark">Add city</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.zipcode) }}
    <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-indigo-700">Submit</button>
    {{ form_end(form) }}


{% endblock %}
