{% extends 'base.html.twig' %}

{% block title %} Site {% endblock %}

{% block body %}

    <h1 class="display-4 text-site-color">Add Site</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit" class="btn btn-secondary-custom">Submit</button>
    {{ form_end(form) }}


{% endblock %}
