{% extends 'base.html.twig' %}

{% block title %} Management {% endblock %}

{% block body %}
    <h1 class="display-4 text-dark">Management</h1>
    <a href="{{ path('gestion_cities')}}" class="btn btn-primary">
        manage cities
    </a>
    <a href="{{ path('gestion_sites')}}" class="btn btn-primary">
        manage sites
    </a>
    <a href="{{ path('gestion_places')}}" class="btn btn-primary">
        manage places
    </a>

{% endblock %}
